################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cytology-portal/Content/Images/Thumbs.db
