################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cytology-portal/Content/Images/
/.vs/
/.vs/cytology-portal/v15/sqlite3/
/.vs/cytology-portal/v15/
/cytology-portal/Content/Images/*
/.vs/*
/.vs/cytology-portal/v15/sqlite3/*
/.vs/cytology-portal/v15/*